.col-sm-6
	h1 {{item.title}}
	img(ng-if="item.image" ng-src="/images/{{item.image}}")

.col-sm-6
	h1 {{item.dateAdded | date:'medium'}}

	ui-gmap-google-map(ng-if="item.location" center="item.location" zoom="12" ng-style="{'width':'200px'}")
		ui-gmap-marker(coords="item.location" idKey="item._id")
