
.animate-switch-container(ng-switch='', on='selection')
  .animate-switch(ng-switch-when='step1')
    include ./partials/step1.jade

  .animate-switch(ng-switch-when='step2')
    include ./partials/step2.jade