
.animate-switch-container(ng-switch='', on='selection')
  .animate-switch(ng-switch-when='settings')
    .col-sm-12
      .animate-switch-container(ng-switch='ng-switch', on='selection')
        .animate-switch(ng-switch-default='ng-switch-default')
          .panel.panel-default
            .panel-heading
              .panel-title
                h4 Tell us about the item you found
            .panel-body
              .col-sm-6
                form.form.form-vertical
                  .control-group
                    label Title
                    .controls
                      input.form-control(type='text', placeholder='What did you find?')
                  .control-group
                    label Description
                    .controls
                      textarea.form-control(placeholder='Describe the item you found, and where you found it.')
                  .control-group
                    label Category
                    .controls
                      select.form-control
                        option(ng-repeat="category in categories") {{category.name}}
                  .control-group
                    label Add image(s)
                    .controls
                      div(flow-init='', flow-files-submitted='$flow.upload()', flow-file-added='!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]')
                        .drop(flow-drop='', ng-class='dropClass')
                          span.btn.btn-primary(flow-btn='') Upload Image
                          strong  OR
                          span  Drag And Drop your images here
                        br
                        .gallery-box(ng-repeat='file in $flow.files')
                          .thumbnail(ng-show='$flow.files.length')
                            img(flow-img='file')
                          .progress.progress-striped(ng-class='{active: file.isUploading()}')
                            .progress-bar(role='progressbar', aria-valuenow='{{file.progress() * 100}}', aria-valuemin='0', aria-valuemax='100', ng-style='{width: (file.progress() * 100) + "%"}')
                              span.sr-only {{file.progress()}}% Complete
                          .btn-group
                            a.btn.btn-xs.btn-danger(ng-click='file.cancel()')
                              | Remove
                  .control-group
                    label
                    .controls
                      button.btn.btn-primary(ng-click='forward()') Next

  .animate-switch(ng-switch-when='home') Home Span
    button.btn.btn-primary(ng-click='forward()') Next
    button.btn.btn-primary(ng-click='back()') Back
  .animate-switch(ng-switch-default='') default



//- .col-sm-12
//-   .animate-switch-container(ng-switch='ng-switch', on='selection')
//-     .animate-switch(ng-switch-default='ng-switch-default')
//-       .panel.panel-default
//-         .panel-heading
//-           .panel-title
//-             h4 Tell us about the item you found
//-         .panel-body
//-           .col-sm-6
//-             form.form.form-vertical
//-               .control-group
//-                 label Title
//-                 .controls
//-                   input.form-control(type='text', placeholder='What did you find?')
//-               .control-group
//-                 label Description
//-                 .controls
//-                   textarea.form-control(placeholder='Describe the item you found, and where you found it.')
//-               .control-group
//-                 label Category
//-                 .controls
//-                   select.form-control
//-                     option(ng-repeat="category in categories") {{category.name}}
//-               .control-group
//-                 label Add image(s)
//-                 .controls
//-                   div(flow-init='', flow-files-submitted='$flow.upload()', flow-file-added='!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]')
//-                     .drop(flow-drop='', ng-class='dropClass')
//-                       span.btn.btn-primary(flow-btn='') Upload Image
//-                       strong  OR
//-                       span  Drag And Drop your images here
//-                     br
//-                     .gallery-box(ng-repeat='file in $flow.files')
//-                       .thumbnail(ng-show='$flow.files.length')
//-                         img(flow-img='file')
//-                       .progress.progress-striped(ng-class='{active: file.isUploading()}')
//-                         .progress-bar(role='progressbar', aria-valuenow='{{file.progress() * 100}}', aria-valuemin='0', aria-valuemax='100', ng-style='{width: (file.progress() * 100) + "%"}')
//-                           span.sr-only {{file.progress()}}% Complete
//-                       .btn-group
//-                         a.btn.btn-xs.btn-danger(ng-click='file.cancel()')
//-                           | Remove
//-               .control-group
//-                 label
//-                 .controls
//-                   button.btn.btn-primary(ng-click='update(user,\'stage2\')') Next
    
//-     .animate-switch(ng-switch-when='stage2')
//-       .col-sm-6
//-         .panel.panel-default
//-           .panel-body
//-             ui-gmap-google-map(center="map.center" zoom="map.zoom")


//- .animate-switch-container(ng-switch='ng-switch', on='selection', ng-class='{forward: direction, backward:!direction,longStage: longStage}')
//-   .animate-switch(ng-switch-default='ng-switch-default')
//-     form.formClass(name='form', role='form', novalidate='')
//-       .row
//-         .col-xs-6
//-           .form-group(ng-class='{\'has-error\':  form.uName.$invalid, \'has-success\': !form.uName.$invalid}')
//-             label(for='uName ') User Name
//-             input.form-control(type='text ', name='uName ', placeholder='User Name ', ng-model='user.name ', required=' ')
//-             .err_tip(ng-show='form.uName.$dirty && form.uName.$invalid ')
//-               span(ng-show='form.uName.$error.required ') User name is required.
//-       button.btn(ng-click='update(user,\'stage2\')') Next
//-   .animate-switch(ng-switch-when='stage2')
//-     form.formClass(name='form', role='form', novalidate='')
//-       .row
//-         .col-xs-8
//-           .form-group(ng-class='{ \'has-error\':  form.uSecQuest.$invalid, \'has-success\': !form.uSecQuest.$invalid}')
//-             label(for='uSecQuest') Security Questions
//-             select.form-control(name='uSecQuest', required='', ng-options='c.quest for c in questions', ng-model='user.secQuest')
//-               option(value='') -- Choose Security Questions --
//-         //
//-               <div class="col-xs-4">
//-                       {{questions | json}}
//-                     </div> 
//-       button.btn.btn-primary(ng-click='backTo(\'default\')') Back
//-       button.btn(ng-click='pushToServer(user)', ng-disabled='form.$invalid ', ng-class='{\'btn-danger\': form.$invalid, \'btn-success\': !form.$invalid } ') Next
//-   .animate-switch(ng-switch-when='finish')
//-     .row
//-       .col-xs-12.fade(ng-class='{in:longStage}')
//-         pre.
//-           \nform = {{user | json}}              
//-         pre.
//-           \nmaster = {{master | json}}              

