script(type="text/ng-template" id="searchbox.tpl.html")
  input(type="text" placeholder="Search Box")


div(ng-include='"components/sidebar/sidebar.html"')
.col-sm-9
  p This is the map view.


  .panel.panel-default
    .panel-body
      ui-gmap-google-map(center='map.center', zoom='map.zoom', dragging='map.dragging', bounds='map.bounds')
        //- ui-gmap-search-box(template="searchbox.tpl.html" position="sdsd")
        ui-gmap-marker(ng-repeat="marker in map.markers" coords="marker" idKey="$index")