div(ng-include='"components/sidebar/sidebar.html"')
.col-sm-9
  p This is the map view.

  ui-gmap-google-map(center="map.center" zoom="map.zoom")
    ui-gmap-marker(ng-repeat="marker in markers" coords="marker" idKey="$index")