script(type="text/ng-template" id="searchbox.tpl.html")
  input(type="text" placeholder="Search Box")


div(ng-include='"components/sidebar/sidebar.html"')
.col-sm-9
  .panel.panel-default
    .panel-body.default-size
      .loading(ng-hide="mapLoaded")
        img#spinner(ng-src="assets/images/loader.svg")
        p Getting your location...

      ui-gmap-google-map(center='map.center', zoom='map.zoom', dragging='map.dragging', bounds='map.bounds' ng-if="mapLoaded")
        //- ui-gmap-search-box(template="searchbox.tpl.html" position="sdsd")
        ui-gmap-marker(ng-repeat="marker in map.markers" coords="marker" idKey="$index")