div(ng-include='"components/sidebar/sidebar.html"', style="height:100%;")
.col-sm-9
  ul.list-group
    li.list-group-item(ng-repeat="item in items")
      .row
        .col-sm-9
          a(href='/view/{{item._id}}')
            i(ng-class="getIconClass(item.category.name)")
            | {{item.title}}
        .col-sm-3
          small.text-right added at {{item.dateAdded | date:'h:mm a'}}
